# output
/.cache
/.parcel-cache
/coverage
/src/renderer/.parcel
/src/main/.parcel
*.map
/release
/dist
/out
/build
/bundle-release

# dependencies
/node_modules

# logs
*.log

.vscode
.yarnrc
.vscode/settings.json
.vscode/settings.json
electron-x