#editor {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-top: 10px;
  // padding-top: 10px;
}

.api-selector-panel-container {
  position: absolute;
  width: 100%;
  max-width: 600px;
  height: 100%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99999;
}
