.root {
  align-items: center;
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  height: 28px;
  cursor: default;

  &.selected {
    background-color: #c62d24;
    border-radius: 4px;
    color: white;
  }
}

.rename-editing-status {
  &.others-in-editing {
    opacity: 0.2;
  }

  &.in-editing {
    opacity: 1;
  }
}

.expandIconWrapper {
  align-items: center;
  font-size: 0;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  // transition: transform linear 0.1s;
  transform: rotate(0deg);
}

.expandIconWrapper.isOpen {
  transform: rotate(90deg);
}

.labelGridItem {
  padding-inline-start: 8px;
  .bp3-editable-text-editing {
    color: black;
  }
}
