@avatar_position: 15;

.dialogue-item {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  position: relative;

  // padding-top: 15px;
  padding-bottom: 15px;

  // 首次对话
  &.head-dialogue-node {
    padding-top: 15px;
    padding-bottom: 34px;
  }

  &.avatar-node {
    margin-top: 10px;
  }

  .context-line {
    position: absolute;
    border-left: 2px dashed #4c4c4c;
    left: @avatar_position * 2.5;

    // 是否带立绘
    &.avatar-node {
      height: 0%;
      bottom: 0;
      top: unset;
    }

    // 开始对话节点，下方带连接线
    &.head-dialogue-node {
      height: calc(100% / 2);
      top: unset;
      bottom: 0 !important;
    }

    // 中间对华加节点，上线都带连接线
    &.middle-dialogue-node {
      top: 0;
      height: 100% !important;
      bottom: unset;
    }

    // 如果是结束对话节点，上方带连接线
    &.end-dialogue-node {
      height: calc(100% / 2);
      bottom: unset;
    }
  }

  .indicator-point {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4e4e4e;
    top: 54%;
    transform: translate(33px, -50%);

    &.end-dialogue {
      background: #d0021b;
      width: 16px;
      height: 16px;
      transform: translate(31px, -50%);
    }
  }

  .character-avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    left: @avatar_position;
    -webkit-user-select: none;
  }

  .content {
    position: absolute;
    display: flex;
    align-items: center;
    left: 65;
    height: 100%;
    width: 90%; // 留出点空隙给右边

    .name {
      position: absolute;
      top: 0;
      color: #c85050;
      font-size: 12px;
      padding-bottom: 10px;
    }

    .edit-content {
      position: absolute;
      width: 100%;
      padding-right: 90px;
      text-align: justify;
      word-break: break-all;

      &.avatar-node {
        top: 20px;
      }

      &.text {
        font-size: 1rem;
        font-weight: 300;
        font-family: Apple System, "Microsoft YaHei", "SF Pro SC",
          "SF Pro Display", "Helvetica Neue", "Arial", "PingFang SC",
          "Hiragino Sans GB", "STHeiti", "Microsoft JhengHei",
          "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
          sans-serif;
      }
    }
  }

  .terminal-dialogue-border {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    margin-top: 10px;
    background-color: #b9b9b9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
