.content-container {
  width: 100%;
}
.node-title {
  font-size: 1rem;
  font-weight: 200;
  padding-left: 10px;
}

.expand-icon {
  &.normal {
    transform: rotate(0deg);
    transform-origin: center center;
  }

  &.expand {
    transform: rotate(90deg);
    transform-origin: center center;
  }
}
