@import (less) "../../styles/dialog.less";

@import (less)
  "../../../../node_modules/golden-layout/src/less/goldenlayout-base.less";

@import (less) "../../styles/golden-layout-themes/avg-light.less";

@import (inline) "../../../../node_modules/react-sortable-tree/style.css";

input:focus,
textarea:focus,
select:focus,
div:focus {
  outline: none;
}
