@import (less) "../../styles/dialog.less";

@import (less)
  "../../../../node_modules/golden-layout/src/less/goldenlayout-base.less";

@import (less) "../../styles/golden-layout-themes/avg-light.less";

#workspace-container {
  background-color: black;
}

input:focus,
textarea:focus,
select:focus,
div:focus {
  outline: none;
}
